name: Build and Release

on:
  push:
    tags:
      - 'v*' # Start de workflow bij het pushen van een tag, bv. v0.1.0
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest
    env:
      PYTHON_VER: 3.11.13-0.4.0
    permissions:
      contents: write # Nodig om een release te kunnen aanmaken en assets te uploaden

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install jq

    - name: Get version
      id: get_version
      run: |
        version=$(jq -r .version driver.json)
        echo "version=${version}" >> "$GITHUB_OUTPUT"

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Build executable in Docker
      run: |
        echo "Starting PyInstaller build inside aarch64 container..."
        docker run --rm --name builder \
          --platform=linux/aarch64 \
          --user=$(id -u):$(id -g) \
          -v ${GITHUB_WORKSPACE}:/workspace \
          docker.io/unfoldedcircle/r2-pyinstaller:${PYTHON_VER} \
          bash -c \
          "cd /workspace && \
            python -m pip install -r requirements.txt && \
            pyinstaller --clean --onedir --name intg-nad --paths intg-nad intg-nad/driver.py"

    - name: Prepare artifacts
      run: |
        mkdir -p artifacts/bin
        mv dist/intg-nad/* artifacts/bin/
        mv artifacts/bin/intg-nad artifacts/bin/driver
        cp driver.json artifacts/
        cp NAD-logo.png artifacts/


    - name: Create package
      run: |
        tar -czvf nad-powercontrol-v${{ steps.get_version.outputs.version }}.tar.gz -C artifacts .

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.get_version.outputs.version }}
        release_name: Release v${{ steps.get_version.outputs.version }}
        draft: false
        prerelease: false

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./nad-powercontrol-v${{ steps.get_version.outputs.version }}.tar.gz
        asset_name: nad-powercontrol-v${{ steps.get_version.outputs.version }}.tar.gz
        asset_content_type: application/gzip
